{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 class="lobster">Крючком и спицами</h1>
<p><h2>Свяжитесь со мной:</h2>
<br>
<a href="mailto:sernikr@mail.ru"><h2>по электронной почте</h2></a>
<br>
<a href="https://vk.com/id684507208"><h2>через VK</h2></a>
<br>
<a href="https://t.me/Valentina_Vasilevna"><h2>через Telegram</h2></a>
</p>


<div class="row">
    <div class="col-md-12">
{% for c in cat %}
	<a href="cat/{{c.pk}}" class="btn btn-primary"><h1>{{c.name}}</h1></a>
	
	
	{% endfor %}

<br>
        
            <img src="static/img/photo_2021-11-02_10-36-46(2).jpg" alt="" width="100%">
            <img src="static/img/photo_2021-11-02_10-36-27.jpg" alt="" width="100%">

{% for c in cat %}
	<a href="cat/{{c.pk}}" class="btn btn-primary"><h1>{{c.name}}</h1></a>
	
	
	{% endfor %}





        
    </div>
</div>

{% endblock %}
