{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 class="lobster">Раздел: {{nm}}</h1>
<div class="row">
{% for c in cat_toys %}
    <div class="col-md-6">
        <div class="card mb-2">
            <img src="{% static c.image %}" alt="" width="100%">
            <div class="card-body">
                <h1 class="card-title">{{ c.title }}</h1>
                
                <a href="all/{{c.pk}}"
                   class="btn btn-primary">
                   <h1>Подробнее</h1>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
	<h1><input type="button" onclick="history.back();" value="<< Вернуться"/></h1>
</div>
{% endblock %}


