{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ toy.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static toy.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>Дополнительно:</h5>
        <p>{{ toy.description }}</p>
        <br>
        <h5>Использованы:</h5>
		{% for material in materials %}
			<p>{{ material.name }}</p>
			{% endfor %}
		<p>Обращайтесь:
		<br>
		<a href="mailto:sernikr@mail.ru">по электронной почте</a>
		<br>
		<a href="https://vk.com/id684507208">через VK</a>
		<br>
		<a href="https://t.me/Valentina_Vasilevna">через Telegram</a>
		</p>
		<input type="button" onclick="history.back();" value="<< Вернуться"/>
    </div>
</div>
{% endblock %}

