{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1 class="lobster">{{ toy.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static toy.image %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h2>Дополнительно:</h2>
        <p><h2>{{ toy.description }}</h2></p>
        <br>
        <h2>Использованы:</h2>
		{% for material in materials %}
			<p><h2>{{ material.name }}</h2></p>
			{% endfor %}
		<p><h2>Обращайтесь:</h2>
		<br>
		<a href="mailto:sernikr@mail.ru"><h2>по электронной почте</h2></a>
		<br>
		<a href="https://vk.com/id684507208"><h2>через VK</h2></a>
		<br>
		<a href="https://t.me/Valentina_Vasilevna"><h2>через Telegram</h2></a>
		</p>
		<h2><input type="button" onclick="history.back();" value="<< Вернуться"/></h2>
    </div>
</div>
{% endblock %}

